﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h4>Used technologies</h4>
<p>Ninject, WebApi, Asp.Net MVC, NUnit, NSubstitute, JQuery, Bootstrap</p>


<h4>Limitations</h4>
<ul>
    <li>
        32 bit integer is used for NumberConverter. Upper limit is one less than billion.
    </li>
    <li>
        For the sake of simpler structure, one application is used for both "front-end" and web service.
        For this reason, CORS functionality is not enabled.
    </li>
    <li>
        Client-side validation is not implemented. "Bad request" is returned for exceptions.
    </li>
</ul>
