﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Enter Your data</h2>
        <form>
            <div class="form-group"><label for="name">Name:</label><input type="text" id="name" name="name"  class="form-control"/></div>
            <div class="form-group"><label for="number">Number:</label><input type="text" id="number" name="number"   class="form-control" /></div>
            <button class="btn btn-primary" id="convert" type="button">Convert</button>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Result</h2>
        <p id="result">Here goes result</p>
    </div>

</div>

@section scripts {
    <script type="text/javascript">

        function write_response(response) {
            $("#result").html(response.name + "<br/> " + response.text);
        }

        var apiRoot = '/api';

        $("#convert").click(function(evt) {
            var data = {
                name: $("#name").val(),
                number: $("#number").val()
            };

            $.ajax({
                url: apiRoot + '/converter',
                type: 'GET',
                data: data,
                contentType: "application/json;charset=utf-8",
                success: function(response) {
                    write_response(response);
                },
                error: function(x, y, z) {
                    alert(y + '\n' + z);
                }
            });
        });


    </script>
}